/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/.idea/discord.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
